<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WatchKit (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WatchKit (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iWork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E94F4EC81F088E8E001DB22F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94F4EDF1F088E8E001DB22F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94F4EEA1F088E8E001DB22F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9DB72CF1F1C567800FF1016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
