<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniversalKit_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UniversalKit_watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E989D4851F3E80AF0065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E989D48E1F3E80AF0065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E989D4A21F3E80BB0065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E989D4AA1F3E80BC0065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E989D51E1F3E87990065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E989D52B1F3E88200065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E989D5331F3E88200065670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
